
# Environment Variables
.env

# Local Data (Privacy)
data/*.json

# Python Artifacts
__pycache__/
*.pyc
venv/
.env/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# macOS
.DS_Store

# Logs
*.log
